/* overlay styles */
#root {
  color: #111111;
  font-family: Avenir;
}

/* button widget */
#root .button {
  position: fixed;
  background-color: white;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
  border-radius: 16px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#root .button:hover {
  background-color: #eee;
}
#root .button.with-label {
  font-weight: 600;
  padding-left: 20px;
  padding-right: 20px;
}
#root .with-label :global(.fa) {
  margin-right: 5px;
}
#root .button.icon:not(.with-label) {
  width: 32px;
}
#root .button.icon.large {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}
#root .button.icon.large :global(.fa) {
  font-size: 2em;
}
#root .button.styled {
  color: white;
}
#root .button.styled.primary {
  background-color: #4bb7f6;
}
#root .button.styled.success {
  background-color: #4cb784;
}
#root .button.styled.danger {
  background-color: #d36d6b;
}